<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>com.avob.server.openfire.OpenfireOadrPlugin</class>

    <!-- Plugin meta-data -->
    <name>OpenfireOadrPlugin</name>
    <description>Openfire Openadr security plugin</description>
    <author>Bertrand Zanni</author>

    <version>1.0</version>
    <date>12/06/2019</date>
    <url>http://github.com/shrhdk/openfire-plugin-example</url>
    <minServerVersion>4.3.2</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>    
    <licenseType>MIT</licenseType>

    <!-- Admin console entries -->
    <adminconsole>
         <!--  <tab id="mytab" name="Example" url="my-plugin-admin.jsp" description="Click to manage...">
            <sidebar id="mysidebar" name="My Plugin">
               <item id="my-plugin" name="My Plugin Admin"
                   url="my-plugin-admin.jsp"
                   description="Click to administer settings for my plugin" />
            </sidebar>
        </tab>
 -->
        <tab id="tab-server"  >

               <sidebar id="sidebar-server-manager" >
                  
                   <item id="oadr-info" name="Oadr Information"

                       url="oadr-info.jsp"

                       description="Click to administer oadr plugin" />

               </sidebar>

           </tab>
    </adminconsole>
</plugin>